body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fbf5f5;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.container {
  background-color: #fff;
  border: 2px solid #e7dbdb;
  border-radius: 1rem;
  padding: 2rem;
}
.articleButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #e6dada;
}
.heading {
  font-size: 2rem;
  font-weight: bold;
}
.price {
  color: #1c84f2;
  font-weight: 600;
  font-size: 1.2rem;
}
.article {
  padding: 0.8rem 1.7rem 0.8rem 1.7rem;
  border: 0.2rem #fbe7e7 solid;
  border-radius: 0.8rem;
}
.article:hover {
  border: 0.2rem #4f42ca solid;
  filter: brightness(92%);
}
.calculator {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.2rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.calculatorRight {
  color: #1c84f2;
  font-size: 2rem;
}
.resetbutton {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  border-radius: 0.8rem;
  border-color: transparent;
  background-color: #ff3030;
  color: #fbf5f5;
}
.bottomButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}
.onSitebutton,
.deliverybutton {
  width: 50%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.8rem;
  border-color: transparent;
  background-color: #34c759;
  color: #fbf5f5;
}
.deliverybutton {
  background-color: #007aff;
}
.onSitebutton:hover,
.deliverybutton:hover,
.resetbutton:hover {
  filter: brightness(82%);
}

.listmember {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6dada;
  font-size: 1.1rem;
}
.orderList {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  overflow-y: scroll;
  min-width: 15vw;
  height: 70vh;
}
